::-webkit-scrollbar{background:#f1f1f100;width:8px}::-webkit-scrollbar-thumb{background:#4caf50;border-radius:4px}::-webkit-scrollbar-thumb:hover{background:#388e3c}html{scrollbar-width:thin;scrollbar-color:#4caf50 #f1f1f100}
